<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cap Steam Proyect</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/listStyle.css}"/>

</head>
<body>
<div class="contenedorLista">
    <h1>
        Proyecto 01
    </h1>


   <nav id="flex">
        <div id="titleNav"> Lista de Juegos CapSteam</div>
        <div class="flexTable">
            <div><a href="/new" >Añadir Juego</a></div>
            <div><a href="/nintendo" >Juegos de Nintendo </a></div>
            <div><a href="/siglo" >Juegos del siglo XX </a></div>
            <div><a href="/genero" >Orden por género</a></div>
            <div><a href="/new" >Juegos por año </a></div>
            <div><a href="/editores" >Ordenador por editores</a></div>
            <div><a href="/ventaEU">Media de ventas </a></div>
            <div><a href="/par" >Juegos años pares</a></div>
            <div><a href="/especial" >Query Especial 01</a></div>
        </div>


    </nav>

    <table class="table table-striped">
        <tr>
            <th>Ranking</th>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Año</th>
            <th>Género</th>
            <th>Publicador</th>
            <th>Ventas Norte America</th>
            <th>Ventas Europa</th>
            <th>Ventas Japón</th>
            <th>Ventas Otros paises</th>
            <th>Ventas globales</th>

        </tr>
        <tr th:each="juego : ${lista}">

            <td th:text="${juego.rank}"/>
            <td th:text="${juego.name}"/>
            <td th:text="${juego.platform}"/>
            <td th:text="${juego.year}"/>
            <td th:text="${juego.genre}"/>
            <td th:text="${juego.publisher}"/>
            <td th:text="${juego.na_sales}"/>
            <td th:text="${juego.eu_sales}"/>
            <td th:text="${juego.jp_sales}"/>
            <td th:text="${juego.other_sales}"/>
            <td th:text="${juego.global_sales}"/>


            <td class="btnAct"><a th:href="@{/edit(id=${juego.id})}">Editar Campos</a> | <a
                    th:href="@{/delete(id=${juego.id})}">Eliminar registro</a></td>
        </tr>

    </table>
</div>
</body>
</html>